<%= render 'shared/content_title', title: 'New Category' %>
<%= render 'shared/errors', obj: @category %>

<div>
  <%= form_for @category do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <%= f.submit "Create Category", class: 'btn btn-success' %>
  <% end %>
</div>